<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>后台信息管理系统</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
</head>
<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="menu :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>流程管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>流程管理</a>
                    </li>
                    <li class="active">
                        <strong>处理工单</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <form id="formobj" action="" method="post" enctype="multipart/form-data">
                <table style="width: 600px;" cellpadding="0" cellspacing="1">
                    <tr>
                        <td align="right" width="5%"><label class="Validform_label">用户: </label></td>
                        <td width="15%" th:text = "${problemProcess.name}"></td>
                    </tr>
                    <tr>
                        <td align="right" width="15%" nowrap><label class="Validform_label">processInstanceId: </label></td>
                        <td class="value" width="85%" th:text = "${processInstanceId}"></td>
                    </tr>
                    <tr>
                        <td align="right" width="15%" nowrap><label class="Validform_label">taskId: </label></td>
                        <td class="value" width="85%" th:text="${taskId}"></td>
                        <input type="hidden" name="taskId" th:value="${taskId}" />
                    </tr>
                    <tr>
                        <td class="value" width="85%">
                            <input id="btnSubmit"  type="button" onclick="dispatch();" th:value= "派单"/>

                            <input id="btnSubmit1"  type="button" onclick ="feedBack();" value="反馈成功"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>
</body>
<script th:inline="javascript">
    function dispatch()
    {
       document.getElementById("formobj").action = "/activiti/problem/completeTask";
       document.getElementById("formobj").submit();
    }

</script>
</html>
