<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id = "createForm" action = "/activiti/model/create" method="post"  enctype="multipart/form-data">
        <div>
            <label for="model_name" >模块名称：</label>
            <div>
                <input type="text" id="model_name" name="name" th:value="${model.name}"/>
            </div>
        </div>

        <div>
            <label for="model_key">模块标识：</label>
            <div>
                <input type="text"  id="model_key" name="key" th:value="${model.key}" />
            </div>
        </div>

        <div>
            <label for="model_description">模块描述：</label>
            <div>
                <input type="text"  id="model_description" name="description" th:value="${model.description}" />
            </div>
        </div>

        <div>
            <input id="btnSubmit"  type="submit" value="提 交"/>
            <input id="btnCancel"  type="button" value="返 回" onclick="history.go(-1)"/>
        </div>
    </form>
</body>
</html>