<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    	<span>
                            <img alt="image" class="img-circle" th:src="@{/img/cat.jpg}" height="48px" width="48px" />
						</span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                            	<span class="block m-t-xs">
                            		<strong class="font-bold" th:text="${session.user.getUserName()}">username</strong>
                             	</span>
                             </span>
                    </a>
                </div>
                <div class="logo-element">
                    Activiti
                </div>
            </li>

            <li>
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">流程管理</span><span class="fa arrow"></span></a>
                <ul class="nav">
                    <li id="processManage"><a href="/activiti/process/processList">流程管理</a></li>
                    <li id="deployManage"><a href="/activiti/process/toDeploy">部署流程</a></li>
                    <li id="modelManage"><a href="/activiti/model/newModel">新建模型</a></li>
                    <li id="unClaimedManage"><a href="/activiti/task/unclaimed">工单池</a></li>
                    <li id="claimedManage"><a href="/activiti/task/claimed">待办区</a></li>
                    <li id="finishedManage"><a href="/activiti/task/finished">历史单</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
</body>
</html>



