<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>后台信息管理系统</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
</head>
<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="menu :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>流程管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>流程管理</a>
                    </li>
                    <li class="active">
                        <strong>部署流程</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <form id = "createForm" action = "/activiti/model/create" method="post"  enctype="multipart/form-data">
                <div>
                    <label for="model_name" >模块名称：</label>
                    <div>
                        <input type="text" id="model_name" name="name" th:value="${model.name}"/>
                    </div>
                </div>

                <div>
                    <label for="model_key">模块标识：</label>
                    <div>
                        <input type="text"  id="model_key" name="key" th:value="${model.key}" />
                    </div>
                </div>

                <div>
                    <label for="model_description">模块描述：</label>
                    <div>
                        <input type="text"  id="model_description" name="description" th:value="${model.description}" />
                    </div>
                </div>

                <div>
                    <input id="btnSubmit"  type="submit" value="提 交"/>
                    <input id="btnCancel"  type="button" value="返 回" onclick="history.go(-1)"/>
                </div>
            </form>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>
</body>

</html>
